html{
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #F3F5FC;
}
.logo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 120px;
  height: 48px;
  left: 40px;
  top: 40px;

}
body {
  position: relative;
  background: #f3f5fc;
  padding: 30px 40px 50px;
  height: calc(100vh - 80px);
  min-height: 100vh;

  display: grid;
  grid-template-columns: calc(24px + 6%) 7fr 3fr;
  gap: 6%;
}

.textArea{
  background: #f3f5fc;
  position: absolute;
  width: 680px;
  height: 288px;
  left: 240px;
  top: 168px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  

}
main {
  padding-top: 128px;
  height: 485px;
  display: grid;
  grid-template-rows: 1fr min-content min-content;
}

main p {
  
  height: 116px;
  
}
.textArea-resultante{
  color: #495057;
  padding: 20px;
  position: absolute;
  width: 315px;
  height: 687px;
  left: 1000px;
  top: 40px;
  border: none;
  box-shadow: 3px 5px 10px 3px grey ;
  border-radius: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}
#mensaje-resultante{

  background-image: url(Muñeco.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  color: #495057;
}
section{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 680px;
  height: 67px;
  left: 185px;
  top: 670px;
}
.encriptar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  background: #0A3871;
  border-radius: 24px;
  border: none;
}
.encriptar:hover{
  background-color: #577191;
}
.desencriptar{
  box-sizing: border-box;  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;    
  background: #D8DFE8;    
  border: 1px solid #0A3871;
  border-radius: 24px;
  border: none;
}
.desencriptar:hover{
  background-color: #9ab0cc;
}
.botonCopiar{
  background: #D8DFE8;
  width: 336px;
  height: 67px;
  top: 669px;
  left: 1011px;
  position: absolute;
  border-radius: 24px;
  padding: 24px;
  gap: 8px;
  border: none;
}
.botonCopiar:hover{
  background-color: #9ab0cc;
}
.vectorInfo{
  width: 220px;
  height: 18px;
  left: 24px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
}
footer{
  position: absolute;
  width: 100%;
  color: #0a3871;
  padding: 31px;
  text-align: center;
  
  top: 757px;
}
.git{
  width: 30px;
}
.linke{
  width: 30px;
}




@media screen and (max-width:800px){

html{
  position: relative;
width: 375px;
height: 933px;
}

header{
  position: absolute;
  left: -106px;
  padding: 16px;
}
main{
  height: 254px;
}
body{
  left: 110px;
}

.textArea{
  position: absolute;
width: 420px;
height: 120px;
left: -9px;
top: 130px;
}
.vectorInfo{
  height: 1px;
}

.textArea-resultante{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 32px;

position: absolute;
width: 559px;
height: 431px;
left: -84px;
top: 649px;
}
.botonCopiar{
  width: 583px;
  height: 95px;
  top: 1202px;
  left: -64px;

}
section{
  /*display: table-column;*/
  left: -113px;
  width: 434;
  top: 482px;
}

footer{
  position: fixed;
  width: 100%;
  top: 1359px;
  background-color: #9ac0eb4d;
  left: -30px;
}
}